
/* General */
h1 {
    text-align: left;
    width: 100%;
    left: 0;
    top: 45%;
}

/* Navbar */

#nav-name {
    text-align: center;
    margin-top: 10px;
}

ul {
    margin: auto;
}

.active {
    background-color: #4CAF50;
}

/* About Me */
#pro-pic{
    width: 25%;
    min-width: 250px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: rgb(42, 42, 42);
    padding: 3px;
    display: flex;
    margin: auto;
 }

 p {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 2em;
 }

/* Portfolio */
h2 {
    text-align: right;
}

#parlor, #art {
    text-align: center;
}
.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    justify-content: left;
}

.thumbnail {
    flex: 1 0 33%;
    min-width: 350px;
    margin: 15px;
    /* background-color: aquamarine; */
    background-image: url('https://via.placeholder.com/200');
}

.github {
    width: 24px;
    margin: 7px 7px 7px 7px;
    display: inline-flex;
    float: left;
}

a {
    text-decoration: none;
    color: black;
}

/* Contact */
 form {
    width: 50%;
    margin: auto;
    text-align: left;
    padding: 2em;
 }

input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 0 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#message {
    height: 400px;
}
